/*
================================================================================
	Fonts
================================================================================ */

/* General */
.wrapper {
	padding: 2%;
}

body {
	background: url("../resources/images/homeBackground.jpg") no-repeat fixed;
	background-size: cover;
	font-size: 16px;
}

.oneHundredPercent {
	width: 100%;
	height: auto;
}

.thirtyPercent {
	width: 30%;
	height: auto;
}

.form { 
	width:80%; 
	margin:0 auto; 
}

.divCenter {
	margin: 0 auto;
}

a.fillDiv {
    display: none;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


/* a */
a:visited {
	color: #ffffff;
}


/* Text Styles */
h1 {
	font-family: opensans-bold;
	font-size: 3em;
}

h2 {
	font-family: opensans-regular;
	font-size: 2.5em;
}

h3 {
	font-family: opensans-regular;
	font-size: 2em;
}

h4 {
	font-family: opensans-regular;
	font-size: 1.5em;
}

h5 {
	font-family: opensans-regular;
}

h6 {
	font-family: opensans-regular;
}

p {
	font-family: opensans-regular;
	font-size: 14;
}

.tCenter {
	text-align: center;
}

.tLeft {
	text-align: left;
}

.tRight {
	text-align: right;
}

.tWhite, a:link {
	color: white;
}

.tGrey {
	color: 82 82 82 !important;
}

/* Other */
.bBottom {
	border-bottom: 2px solid;
}

.pTop {
	padding-top: 10px;
}


/* Forms */
.forms input[type="text"],
.forms input[type="date"],
.forms input[type="datetime"],
.forms input[type="email"],
.forms input[type="number"],
.forms input[type="search"],
.forms input[type="time"],
.forms input[type="url"],
.forms input[type="password"],
.forms textarea,
.forms select 
{
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
	color: #FFFFFF;
}
.forms textarea{
    resize:none;
    overflow: hidden;
	height: auto;
}
.forms input[type="button"], 
.forms input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.forms input[type="button"]:hover, 
.forms input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
