/* Imports */
@import url('grid.css');

/* General */
.wrapper {
	padding: 2%;
}

body {
	background: url("../resources/images/homeBackground.jpg") no-repeat fixed;
	background-size: cover;
	font-size: 16px;
}

.oneHundredPercent {
	width: 100%;
	height: auto;
	
}

/* Text Styles */
h1 {
	font-size: 3em;
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

p {
	
}

.tCenter {
	text-align: center;
}

.tLeft {
	text-align: left;
}

.tRight {
	text-align: right;
}

.tWhite, a:link {
	color: white;
}

/* Other */
.bBottom {
	border-bottom: 2px solid;
}
